Repository hufscheer/web, pull requests merged in 2024-10, with the labels that each got.

#328 fix: 타임라인 등록 중복 호출 불가하게 수정
  apps/manager/app/league/[leagueId]/[gameId]/timeline/_components/Form/PkForm.tsx
  apps/manager/app/league/[leagueId]/[gameId]/timeline/_components/Form/ProgressForm.tsx
  apps/manager/app/league/[leagueId]/[gameId]/timeline/_components/Form/ReplacementForm.tsx
  apps/manager/app/league/[leagueId]/[gameId]/timeline/_components/Form/ScoreForm.tsx
  apps/manager/app/league/[leagueId]/_components/LineupSheet/index.tsx
  packages/ui/src/bottom-sheet/styles.css.ts
  packages/ui/src/button/styles.css.ts
Labels: FIX

#330 feat: spectator 게임 상세 페이지 UI 수정
  apps/manager/constants/games.ts
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/Banner/Team.tsx
  apps/spectator/app/game/[id]/_components/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/CheerVS.css.ts
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/app/game/[id]/_components/Lineup/PlayerList.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Team.tsx
  apps/spectator/app/game/[id]/_components/Lineup/index.tsx
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/layout/Header.css.ts
  apps/spectator/components/layout/Header.tsx
  packages/icons/src/index.ts
  packages/icons/src/svg/hamburger.svg
  packages/icons/src/svg/new_hcc.svg
  packages/ui/src/icon/icon.css.ts
Labels: FEAT

#331 feat: 매니저 응원톡 관리 페이지 API 연결
  apps/manager/app/cheer-talk/_components/AllCheerTalk/index.tsx
  apps/manager/app/cheer-talk/_components/CheerTalkList/index.tsx
  apps/manager/app/cheer-talk/_components/ReportedCheerTalk/index.tsx
  apps/manager/app/cheer-talk/blocked/page.tsx
  apps/manager/app/cheer-talk/page.tsx
  apps/manager/app/league/[leagueId]/cheer-talk/_components/CheerTalkCard/CheerTalkCard.css.ts
  apps/manager/app/league/[leagueId]/cheer-talk/_components/CheerTalkCard/index.tsx
  apps/manager/app/league/[leagueId]/cheer-talk/_components/CheerTalkList/CheerTalkList.css.ts
  apps/manager/app/league/[leagueId]/cheer-talk/_components/CheerTalkList/constants.ts
  apps/manager/app/league/[leagueId]/cheer-talk/_components/CheerTalkList/index.tsx
  apps/manager/app/league/[leagueId]/cheer-talk/blocked/page.tsx
  apps/manager/app/league/[leagueId]/cheer-talk/page.css.ts
  apps/manager/app/league/[leagueId]/cheer-talk/page.tsx
  apps/manager/app/page.css.ts
  apps/manager/app/page.tsx
  apps/manager/components/Card/index.tsx
  apps/manager/components/Card/styles.css.ts
  apps/manager/components/Divider/index.tsx
  apps/manager/components/Divider/styles.css.ts
  apps/manager/components/Layout/Header/index.tsx
  apps/manager/components/Layout/Header/styles.css.ts
  apps/manager/components/Layout/Navigation/index.tsx
  apps/manager/components/Layout/Navigation/styles.css.ts
  apps/manager/components/Layout/index.tsx
  apps/manager/components/Layout/styles.css.ts
  packages/api/src/mutations/index.tsx
  packages/api/src/mutations/useUpdateCheerTalkBlock.ts
  packages/api/src/mutations/useUpdateCheerTalkUnblock.ts
  packages/api/src/queries/index.tsx
  packages/api/src/queries/useGameCheerTalk.ts
  packages/api/src/queries/useLeagueCheerTalk.ts
  packages/api/src/queries/useLeagueCheerTalkBlocked.ts
  packages/api/src/queries/useLeagueCheerTalkReported.ts
  packages/api/src/queryKey.ts
  packages/api/src/types/cheer-talk.ts
Labels: FEAT

#335 refactor: API 호출 주소 변경
  apps/manager/next.config.js
  apps/spectator/next.config.js
Labels: REFACTOR

#336 fix: 경기 수정 시 라운드 타입 불일치 해결
  apps/manager/app/league/[leagueId]/[gameId]/page.tsx
  apps/manager/app/league/[leagueId]/[gameId]/timeline/_components/Form/ReplacementForm.tsx
  apps/manager/app/league/[leagueId]/_components/GameForm/GameForm.tsx
  apps/manager/app/league/[leagueId]/_components/GameForm/types.ts
  apps/manager/app/league/[leagueId]/_components/LeagueOverview/index.tsx
  apps/manager/app/league/[leagueId]/_components/LineupSheet/index.tsx
  apps/manager/app/league/[leagueId]/manage/page.tsx
  apps/manager/app/league/[leagueId]/register-game/page.tsx
  apps/manager/constants/games.ts
  packages/api/src/queryKey.ts
  packages/api/src/types/game.ts
  packages/api/src/types/league.ts
Labels: FIX

#340 chore: 매니저 앱 상세정보 텍스트 변경
  apps/manager/app/league/[leagueId]/_components/GameCard/index.tsx
  apps/manager/app/league/[leagueId]/_components/GameCard/styles.css.ts
  apps/manager/app/league/[leagueId]/_components/LeagueOverview/index.tsx
Labels: CHORE

#339 fix: 관객 앱 UI 불일치 수정
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Fallback/index.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Captain.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Lineup/PlayerList.tsx
  apps/spectator/app/game/[id]/_components/Lineup/index.tsx
  apps/spectator/app/game/[id]/_components/Lineup/styles.css.ts
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/components/Layout/Header/index.tsx
  apps/spectator/components/Layout/Header/styles.css.ts
  apps/spectator/types/game.ts
  packages/ui/src/accordion/Trigger.tsx
Labels: FIX

#341 feat(spectator): 자잘한 변경사항 수정
  apps/spectator/app/_components/GameList/Card.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/_components/GameList/styles.css.ts
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/Banner/Skeleton.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/styles.css.ts
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/layout.css.ts
  apps/spectator/app/layout.tsx
  apps/spectator/components/Layout/Header/styles.css.ts
Labels: CHORE

#344 fix: 매니저 대회 및 게임 생성 오류 수정
  apps/manager/app/league/[leagueId]/[gameId]/page.tsx
  apps/manager/app/league/[leagueId]/_components/GameForm/types.ts
  apps/manager/app/league/[leagueId]/_components/TeamForm/types.ts
  apps/manager/app/league/[leagueId]/cheer-talk/blocked/page.tsx
  apps/manager/app/league/[leagueId]/cheer-talk/page.tsx
  apps/manager/app/league/[leagueId]/manage/page.tsx
  apps/manager/app/league/[leagueId]/register-game/page.tsx
  apps/manager/app/league/[leagueId]/register-team/page.tsx
  apps/manager/app/league/[leagueId]/team/[teamId]/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/league/_components/LeagueForm/LeagueForm.tsx
  apps/manager/app/league/register/page.tsx
  apps/manager/constants/games.ts
  packages/api/src/mutations/useCreateLeague.ts
  packages/api/src/mutations/useDeleteLeague.ts
  packages/api/src/mutations/useUpdateLeague.ts
Labels: FIX

#348 fix: 타임라인 선수 교체 시 Query 캐시 제거
  packages/api/src/mutations/useCreateReplacementTimeline.ts
Labels: FIX

#244 ci: 배포 자동화
  .github/workflows/sync_spectator.yaml
Labels: BUILD, CI

#350 chore: change ci scope
  .github/workflows/sync_spectator.yaml
Labels: CHORE

#349 build: speed insight 분석툴 추가
  apps/spectator/app/layout.tsx
  apps/spectator/package.json
  pnpm-lock.yaml
Labels: BUILD
