Repository hufscheer/web, pull requests merged in 2024-02, with the labels that each got.

#19 [FEAT] Toast 컴포넌트 생성
  docs/storybook/stories/Toast.stories.tsx
  docs/storybook/turbo.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/toast/ToastItem.tsx
  packages/ui/src/toast/ToastManager.tsx
  packages/ui/src/toast/constants.ts
  packages/ui/src/toast/hooks/useHover.ts
  packages/ui/src/toast/hooks/useTimeout.ts
  packages/ui/src/toast/index.tsx
  packages/ui/src/toast/toast.css.ts
  packages/ui/src/toast/type.ts
  pnpm-lock.yaml
Labels: FEAT

#21 [BUILD]: styles 패키지 개선 및 적용
  .gitignore
  apps/manager/package.json
  apps/spectator/app/layout.tsx
  apps/spectator/app/page.css.ts
  apps/spectator/app/rummikube/[id]/page.css.ts
  apps/spectator/components/common/Loader/Loader.css.ts
  apps/spectator/components/common/MatchCard/pieces/Background.css.ts
  apps/spectator/components/common/MatchCard/pieces/Team.css.ts
  apps/spectator/components/common/MatchCard/pieces/Wrapper.tsx
  apps/spectator/components/fcOnline/UserInfo/UserInfo.css.ts
  apps/spectator/components/layout/Header.css.ts
  apps/spectator/components/league/SportsList/SportsList.css.ts
  apps/spectator/components/match/Banner/Banner.css.ts
  apps/spectator/components/match/Cheer/Cheer.css.ts
  apps/spectator/components/match/CheerTeam/CheerTeam.css.ts
  apps/spectator/components/match/CommentForm/CommentForm.css.ts
  apps/spectator/components/match/CommentForm/index.tsx
  apps/spectator/components/match/CommentItem/CommentItem.css.ts
  apps/spectator/components/match/CommentList/index.tsx
  apps/spectator/components/match/LineupItem/LineupItem.css.ts
  apps/spectator/components/match/LineupList/LineupList.css.ts
  apps/spectator/components/match/MatchList/index.tsx
  apps/spectator/components/match/MatchList/matchList.css.ts
  apps/spectator/components/match/Panel/Panel.css.ts
  apps/spectator/components/match/RecordList/RecordList.css.ts
  apps/spectator/components/match/Video/Video.css.ts
  apps/spectator/components/match/Video/index.tsx
  apps/spectator/components/rummikub/MatchBanner/MatchBanner.css.ts
  apps/spectator/components/rummikub/MatchItem/MatchItem.css.ts
  apps/spectator/package.json
  apps/spectator/queries/useMatchCommentById/Fetcher.tsx
  packages/styles/src/globals.css.ts
  packages/styles/src/index.ts
  packages/styles/src/reset.css.ts
  packages/styles/src/theme.css.ts
  pnpm-lock.yaml
Labels: BUILD, REFACTOR

#26 [PERF] Remote Cache 적용
  .github/workflows/chromatic.yaml
  docs/storybook/turbo.json
  package.json
  pnpm-lock.yaml
Labels: PERF, CI

#29 [FEAT] Icon 컴포넌트 생성
  .github/workflows/chromatic.yaml
  apps/spectator/components/common/Icon/icon.type.ts
  apps/spectator/components/common/Icon/iconMap.ts
  apps/spectator/components/common/Icon/index.tsx
  apps/spectator/components/common/Icon/svg/BackgroundLogo.tsx
  apps/spectator/components/common/Icon/svg/Calendar.tsx
  apps/spectator/components/common/Icon/svg/CaretDown.tsx
  apps/spectator/components/common/Icon/svg/CaretUp.tsx
  apps/spectator/components/common/Icon/svg/CheckCircled.tsx
  apps/spectator/components/common/Icon/svg/Clip.tsx
  apps/spectator/components/common/Icon/svg/Cross.tsx
  apps/spectator/components/common/Icon/svg/HamburgerMenu.tsx
  apps/spectator/components/common/Icon/svg/Hcc.tsx
  apps/spectator/components/common/Icon/svg/Image.tsx
  apps/spectator/components/common/Icon/svg/PaperPlane.tsx
  apps/spectator/components/common/Icon/svg/Pencil.tsx
  apps/spectator/components/common/Icon/svg/PlusCircled.tsx
  apps/spectator/components/common/Icon/svg/Profile.tsx
  apps/spectator/components/common/Icon/svg/Symbol.tsx
  apps/spectator/components/common/Icon/svg/Thumbsup.tsx
  apps/spectator/components/common/Icon/svg/Trash.tsx
  apps/spectator/components/common/Icon/svg/Write.tsx
  apps/spectator/components/common/MatchCard/pieces/Background.tsx
  apps/spectator/components/common/MatchCard/pieces/Team.tsx
  apps/spectator/components/layout/Header.tsx
  apps/spectator/components/league/SportsList/index.tsx
  apps/spectator/package.json
  docs/storybook/package.json
  docs/storybook/stories/Icon.stories.tsx
  docs/storybook/turbo.json
  packages/icons/package.json
  packages/icons/rollup.config.mjs
  packages/icons/src/index.ts
  packages/icons/src/scripts/generate-icons.js
  packages/icons/src/svg/background-logo.svg
  packages/icons/src/svg/calendar.svg
  packages/icons/src/svg/caret-down.svg
  packages/icons/src/svg/check.svg
  packages/icons/src/svg/clip.svg
  packages/icons/src/svg/cross.svg
  packages/icons/src/svg/hamburger.svg
  packages/icons/src/svg/hcc.svg
  packages/icons/src/svg/image.svg
  packages/icons/src/svg/paper.svg
  packages/icons/src/svg/pencil.svg
  packages/icons/src/svg/plus.svg
  packages/icons/src/svg/profile.svg
  packages/icons/src/svg/symbol.svg
  packages/icons/src/svg/thumbs-up.svg
  packages/icons/src/svg/trash.svg
  packages/icons/src/svg/write.svg
  packages/icons/src/type.d.ts
  packages/icons/tsconfig.json
  packages/typescript-config/icons.json
  packages/ui/src/icon/icon.css.ts
  packages/ui/src/icon/icon.type.ts
  packages/ui/src/icon/index.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: FEAT, PERF

#33 [FEAT]: 관객 응원톡 컴포넌트 추가
  apps/spectator/api/game.ts
  apps/spectator/app/ReactQueryProvider.tsx
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/app/rummikube/[id]/page.tsx
  apps/spectator/components/cheertalk/EntryButton/CheerTalkEntryButton.css.ts
  apps/spectator/components/cheertalk/EntryButton/CheerTalkEntryButton.tsx
  apps/spectator/components/cheertalk/Modal/Banner/Banner.css.ts
  apps/spectator/components/cheertalk/Modal/Banner/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkForm/CheerTalkForm.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkForm/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/CheerTalkItem.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkList/CheerTalkLIst.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkList/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkMenuModal/CheerTalkMenuModal.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkMenuModal/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/cheertalk/Modal/Timeline/index.tsx
  apps/spectator/components/game/CommentForm/CommentForm.css.ts
  apps/spectator/components/game/CommentForm/index.tsx
  apps/spectator/components/game/CommentItem/CommentItem.css.ts
  apps/spectator/components/game/CommentItem/index.tsx
  apps/spectator/components/game/CommentList/CommentLIst.css.ts
  apps/spectator/components/game/GameList/index.tsx
  apps/spectator/package.json
  apps/spectator/queries/useGameCheerTalkById/Fetcher.tsx
  apps/spectator/queries/useGameCheerTalkById/query.ts
  apps/spectator/queries/useReportCheerTalkMutation/query.ts
  apps/spectator/queries/useReportCommentMutation/query.ts
  apps/spectator/queries/useSaveCheerTalkMutation/query.ts
  apps/spectator/queries/useSaveCommentMutation/query.ts
  apps/spectator/types/game.ts
  docs/storybook/package.json
  docs/storybook/stories/Modal.stories.tsx
  docs/storybook/stories/Tooltip.stories.tsx
  packages/icons/src/index.ts
  packages/icons/src/svg/arrow-down.svg
  packages/icons/src/svg/chat.svg
  packages/icons/src/svg/exclamation-circle-fill.svg
  packages/icons/src/svg/menu.svg
  packages/icons/src/svg/send.svg
  packages/styles/src/globals.css.ts
  packages/styles/src/index.ts
  packages/styles/src/pxto.ts
  packages/styles/src/theme.css.ts
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/modal/index.tsx
  packages/ui/src/modal/styles.css.ts
  packages/ui/src/tooltip/index.tsx
  packages/ui/src/tooltip/styles.css.ts
  pnpm-lock.yaml
Labels: FEAT

#36 [STYLE]: spaces 토큰 추가
  packages/styles/src/theme.css.ts
Labels: STYLE

#37 [REFACTOR] Banner 컴포넌트 수정
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/Banner/Error.tsx
  apps/spectator/app/game/[id]/_components/Banner/Skeleton.tsx
  apps/spectator/app/game/[id]/_components/Banner/Team.tsx
  apps/spectator/app/game/[id]/_components/Banner/index.tsx
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/app/rummikube/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/rummikube/[id]/_components/Banner/index.tsx
  apps/spectator/app/rummikube/[id]/page.tsx
  apps/spectator/components/cheertalk/Modal/Banner/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/rummikub/GameItem/GameItem.css.ts
  apps/spectator/package.json
  apps/spectator/queries/useGameById.ts
  apps/spectator/queries/useGameById/Fetcher.tsx
  apps/spectator/utils/time.ts
  pnpm-lock.yaml
Labels: REFACTOR

#42 [REFACTOR] icons color 속성 적용
  packages/icons/src/svg/arrow-down.svg
  packages/icons/src/svg/background-logo.svg
  packages/icons/src/svg/calendar.svg
  packages/icons/src/svg/caret-down.svg
  packages/icons/src/svg/chat.svg
  packages/icons/src/svg/check.svg
  packages/icons/src/svg/clip.svg
  packages/icons/src/svg/cross.svg
  packages/icons/src/svg/exclamation-circle-fill.svg
  packages/icons/src/svg/hamburger.svg
  packages/icons/src/svg/hcc.svg
  packages/icons/src/svg/image.svg
  packages/icons/src/svg/menu.svg
  packages/icons/src/svg/paper.svg
  packages/icons/src/svg/pencil.svg
  packages/icons/src/svg/plus.svg
  packages/icons/src/svg/profile.svg
  packages/icons/src/svg/send.svg
  packages/icons/src/svg/symbol.svg
  packages/icons/src/svg/thumbs-up.svg
  packages/icons/src/svg/trash.svg
  packages/icons/src/svg/write.svg
  packages/ui/src/icon/icon.css.ts
Labels: REFACTOR

#40 [REFACTOR] CheerVs 컴포넌트 개선
  apps/spectator/app/game/[id]/_components/CheerVS/CheerVS.css.ts
  apps/spectator/app/game/[id]/_components/CheerVS/Error.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/index.tsx
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/rummikube/[id]/_components/Banner/index.tsx
  apps/spectator/app/rummikube/[id]/page.tsx
  apps/spectator/components/game/CheerTeam/index.tsx
  apps/spectator/hooks/useDebounce.ts
  apps/spectator/hooks/useTimeout.ts
  apps/spectator/package.json
  apps/spectator/queries/useCheerMutation.ts
  apps/spectator/queries/useCheerVSById.ts
  apps/spectator/queries/useRummiCheerMutation/query.ts
  pnpm-lock.yaml
Labels: REFACTOR
