Repository hufscheer/web, pull requests merged in 2024-06, with the labels that each got.

#250 [REFACTOR] Toast 컴포넌트 설계 수정
  docs/storybook/stories/Toast.stories.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/toast/ToastItem.tsx
  packages/ui/src/toast/ToastManager.tsx
  packages/ui/src/toast/constants.ts
  packages/ui/src/toast/hooks/useHover.ts
  packages/ui/src/toast/hooks/useTimeout.ts
  packages/ui/src/toast/index.ts
  packages/ui/src/toast/index.tsx
  packages/ui/src/toast/styles.css.ts
  packages/ui/src/toast/toast.css.ts
  packages/ui/src/toast/toast.tsx
  packages/ui/src/toast/toaster.tsx
  packages/ui/src/toast/type.ts
  packages/ui/src/toast/useToast.ts
  pnpm-lock.yaml
Labels: REFACTOR

#248 [FEAT] Dialog 컴포넌트 추가 & 응원톡 오버레이 스크롤 제거
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/MenuModal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/components/Sidebar/Sidebar.css.ts
  docs/storybook/.storybook/preview.ts
  docs/storybook/stories/Dialog.stories.tsx
  docs/storybook/stories/Modal.stories.tsx
  packages/ui/package.json
  packages/ui/src/dialog/index.tsx
  packages/ui/src/dialog/styles.css.ts
  packages/ui/src/index.ts
  packages/ui/src/modal/styles.css.ts
  packages/ui/src/skeleton/index.tsx
  pnpm-lock.yaml
Labels: FEAT

#252 [REFACTOR] Spinner 공용 컴포넌트화
  apps/manager/app/league/[leagueId]/loading.tsx
  apps/manager/app/page.tsx
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/List/index.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/components/Loader/Loader.css.ts
  docs/storybook/stories/Spinner.stories.tsx
  docs/storybook/stories/Toast.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/spinner/index.ts
  packages/ui/src/spinner/spinner.tsx
  packages/ui/src/spinner/styles.css.ts
Labels: REFACTOR

#254 [REFACTOR] cheertalk spinner 작동 조건 수정
  apps/spectator/app/game/[id]/_components/CheerTalk/List/index.tsx
  docs/storybook/stories/Spinner.stories.tsx
Labels: REFACTOR

#256 [FIX] 누락된 프로퍼티(argTypes) 추가
  docs/storybook/stories/Spinner.stories.tsx
Labels: FIX

#246 [FEAT] 매니저 페이지 사용성 개선
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/page.tsx
  apps/manager/app/league/[leagueId]/loading.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/league/page.tsx
  apps/manager/app/report/_components/CardList/index.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: FEAT

#258 [BUILD] update dependencies version
  pnpm-lock.yaml
Labels: BUILD

#260 [REFACTOR] 필터 클릭 시 화면 가운데로 이동
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
  apps/spectator/package.json
  packages/ui/src/spinner/spinner.tsx
  pnpm-lock.yaml
Labels: REFACTOR

#268 [REFACTOR] 리그 팀 목록 필터링 조건(round) 추가
  apps/spectator/api/league.ts
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
  apps/spectator/app/page.tsx
  apps/spectator/queries/useLeagueDetail.ts
  apps/spectator/queries/useLeagueTeams.ts
Labels: REFACTOR

#262 [FEAT] Form 요소 추가
  docs/storybook/.storybook/preview.tsx
  docs/storybook/package.json
  docs/storybook/stories/Form.stories.tsx
  docs/storybook/stories/Input.stories.tsx
  packages/ui/package.json
  packages/ui/src/form/form.tsx
  packages/ui/src/form/index.ts
  packages/ui/src/form/styles.css.ts
  packages/ui/src/form/useFormField.ts
  packages/ui/src/index.ts
  packages/ui/src/input/index.ts
  packages/ui/src/input/index.tsx
  packages/ui/src/input/input.tsx
  packages/ui/src/input/styles.css.ts
  pnpm-lock.yaml
Labels: FEAT

#264 [DOCS] remove autodocs tag
  docs/storybook/.storybook/preview.tsx
  docs/storybook/src/styles/globals.css.ts
  docs/storybook/src/styles/layers.css.ts
  docs/storybook/src/styles/reset.css.ts
  docs/storybook/stories/Accordion.stories.tsx
  docs/storybook/stories/Dialog.stories.tsx
  docs/storybook/stories/Icon.stories.tsx
  docs/storybook/stories/Modal.stories.tsx
  docs/storybook/stories/Spinner.stories.tsx
  docs/storybook/stories/Tabs.stories.tsx
  docs/storybook/stories/Toast.stories.tsx
  docs/storybook/stories/Uploader.stories.tsx
Labels: DOCS

#266 [FEAT] Select 컴포넌트 추가
  docs/storybook/stories/Form.stories.tsx
  docs/storybook/stories/Select.stories.tsx
  packages/icons/src/svg/check.svg
  packages/ui/package.json
  packages/ui/src/form/form.tsx
  packages/ui/src/form/styles.css.ts
  packages/ui/src/form/useFormField.ts
  packages/ui/src/index.ts
  packages/ui/src/input/styles.css.ts
  packages/ui/src/select/index.ts
  packages/ui/src/select/select.tsx
  packages/ui/src/select/styles.css.ts
  pnpm-lock.yaml
Labels: FEAT

#270 [FEAT] Calendar 컴포넌트 추가
  docs/storybook/stories/Calendar.stories.tsx
  docs/storybook/stories/Form.stories.tsx
  docs/storybook/stories/Popover.stories.tsx
  packages/icons/src/svg/calendar.svg
  packages/ui/package.json
  packages/ui/src/calendar/calendar.tsx
  packages/ui/src/calendar/index.ts
  packages/ui/src/calendar/styles.css.ts
  packages/ui/src/index.ts
  packages/ui/src/popover/index.ts
  packages/ui/src/popover/popover.tsx
  packages/ui/src/popover/styles.css.ts
  pnpm-lock.yaml
Labels: FEAT

#272 [REFACTOR] 매니저 앱 로그인 페이지 구현
  apps/manager/app/Providers.tsx
  apps/manager/app/layout.tsx
  apps/manager/app/login/form.ts
  apps/manager/app/login/page.css.ts
  apps/manager/app/login/page.tsx
  apps/manager/components/Layout/Layout.css.ts
  apps/manager/components/Layout/index.tsx
  apps/manager/package.json
  packages/styles/src/theme.css.ts
  packages/ui/src/button/button.tsx
  packages/ui/src/button/index.tsx
  packages/ui/src/button/styles.css.ts
  packages/ui/src/index.ts
  packages/ui/src/toast/styles.css.ts
Labels: REFACTOR
