Repository hufscheer/web, pull requests merged in 2024-03, with the labels that each got.

#43 [REFACTOR] CheerTalk 컴포넌트 개선
  apps/spectator/app/_components/Live/Live.css.ts
  apps/spectator/app/_components/Live/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/CheerTalk.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Item.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/cheertalk/Modal/Section/index.tsx
  apps/spectator/queries/useCheerTalkById.ts
  apps/spectator/queries/useGameCheerTalkById/Fetcher.tsx
  apps/spectator/queries/useGameCheerTalkById/query.ts
  packages/ui/src/icon/icon.css.ts
  packages/ui/src/icon/icon.type.ts
Labels: REFACTOR

#47 [REFACTOR] rummikube 관련 기능 제거
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/page.tsx
  apps/spectator/app/rummikube/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/rummikube/[id]/_components/Banner/index.tsx
  apps/spectator/app/rummikube/[id]/page.css.ts
  apps/spectator/app/rummikube/[id]/page.tsx
  apps/spectator/components/AsyncBoundary/index.tsx
  apps/spectator/components/Dropdown/index.tsx
  apps/spectator/components/Dropdown/units/Item.tsx
  apps/spectator/components/Dropdown/units/Menu.css.ts
  apps/spectator/components/Dropdown/units/Menu.tsx
  apps/spectator/components/Dropdown/units/Wrapper.tsx
  apps/spectator/components/ErrorBoundary/index.tsx
  apps/spectator/components/Loader/Loader.css.ts
  apps/spectator/components/Loader/index.tsx
  apps/spectator/components/Panel/Panel.css.ts
  apps/spectator/components/Panel/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkList/CheerTalkLIst.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkList/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/common/GameCard/index.ts
  apps/spectator/components/common/GameCard/pieces/Background.css.ts
  apps/spectator/components/common/GameCard/pieces/Background.tsx
  apps/spectator/components/common/GameCard/pieces/Label.css.ts
  apps/spectator/components/common/GameCard/pieces/Label.tsx
  apps/spectator/components/common/GameCard/pieces/Score.css.ts
  apps/spectator/components/common/GameCard/pieces/Score.tsx
  apps/spectator/components/common/GameCard/pieces/Status.css.ts
  apps/spectator/components/common/GameCard/pieces/Status.tsx
  apps/spectator/components/common/GameCard/pieces/Team.css.ts
  apps/spectator/components/common/GameCard/pieces/Team.tsx
  apps/spectator/components/common/GameCard/pieces/Wrapper.css.ts
  apps/spectator/components/common/GameCard/pieces/Wrapper.tsx
  apps/spectator/components/game/Banner/Banner.css.ts
  apps/spectator/components/game/Banner/index.tsx
  apps/spectator/components/game/Cheer/Cheer.css.ts
  apps/spectator/components/game/Cheer/index.tsx
  apps/spectator/components/game/CheerTeam/CheerTeam.css.ts
  apps/spectator/components/game/CheerTeam/index.tsx
  apps/spectator/components/game/GameList/gameList.css.ts
  apps/spectator/components/game/GameList/index.tsx
  apps/spectator/components/game/LineupItem/LineupItem.css.ts
  apps/spectator/components/game/LineupItem/index.tsx
  apps/spectator/components/game/LineupList/LineupList.css.ts
  apps/spectator/components/game/LineupList/index.tsx
  apps/spectator/components/game/RecordItem/RecordItem.css.ts
  apps/spectator/components/game/RecordItem/index.tsx
  apps/spectator/components/game/RecordList/RecordList.css.ts
  apps/spectator/components/game/RecordList/index.tsx
  apps/spectator/components/game/Video/Video.css.ts
  apps/spectator/components/game/Video/index.tsx
  apps/spectator/components/rummikub/Cheer/Cheer.css.ts
  apps/spectator/components/rummikub/Cheer/index.tsx
  apps/spectator/components/rummikub/GameItem/GameItem.css.ts
  apps/spectator/components/rummikub/GameItem/index.tsx
  apps/spectator/hooks/useGameCardContext.ts
  apps/spectator/queries/useRummiCheerMutation/query.ts
Labels: REFACTOR

#54 [REFACTOR] order & fconline 관련 기능 제거
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/CheerTalkItem.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkList/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/cheertalk/Modal/Section/index.tsx
  apps/spectator/components/fcOnline/UserInfo/UserInfo.css.ts
  apps/spectator/components/fcOnline/UserInfo/index.tsx
  apps/spectator/queries/useFconlineLineupById/Fetcher.tsx
  apps/spectator/queries/useFconlineLineupById/query.ts
  apps/spectator/types/game.ts
Labels: REFACTOR

#50 [REFACTOR] timeline 컴포넌트 개선
  apps/spectator/app/game/[id]/_components/Timeline/Quarter.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Replacement.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Score.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/index.tsx
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/queries/useGameTimelineById/Fetcher.tsx
  apps/spectator/queries/useGameTimelineById/query.ts
  apps/spectator/queries/useTimelineById.ts
  apps/spectator/types/game.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/soccer.svg
  packages/icons/src/svg/switch.svg
Labels: REFACTOR

#56 [REFACTOR] sidebar 컴포넌트 개선
  apps/spectator/api/league.ts
  apps/spectator/components/LeagueList/LeagueList.css.ts
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/Sidebar.css.ts
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkMenuModal/CheerTalkMenuModal.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkMenuModal/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/layout/Header.tsx
  apps/spectator/queries/useLeagues.ts
  apps/spectator/types/league.ts
  docs/storybook/stories/Accordion.stories.tsx
  packages/ui/src/accordion/Content.tsx
  packages/ui/src/accordion/Item.tsx
  packages/ui/src/accordion/Trigger.tsx
  packages/ui/src/accordion/hooks/useAccordion.ts
  packages/ui/src/accordion/hooks/useAccordionItem.ts
  packages/ui/src/accordion/index.tsx
  packages/ui/src/accordion/styles.css.ts
  packages/ui/src/accordion/type.ts
  packages/ui/src/index.ts
  packages/ui/src/modal/Close.tsx
  packages/ui/src/modal/Content.tsx
  packages/ui/src/modal/index.tsx
  packages/ui/src/modal/styles.css.ts
Labels: REFACTOR

#58 [FIX] 폰트 OTS 오류 해결
  apps/spectator/app/layout.tsx
  apps/spectator/package.json
  packages/styles/src/globals.css.ts
  pnpm-lock.yaml
Labels: FIX

#60 [REFACTOR] panel 컴포넌트 개선
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/components/Panel/Panel.css.ts
  apps/spectator/components/Panel/index.tsx
  docs/storybook/stories/Tabs.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/tabs/Content.tsx
  packages/ui/src/tabs/List.tsx
  packages/ui/src/tabs/Tabs.css.ts
  packages/ui/src/tabs/Trigger.tsx
  packages/ui/src/tabs/hooks.ts
  packages/ui/src/tabs/index.tsx
Labels: REFACTOR

#55 [REFACTOR] CheerTalk 컴포넌트 개선 및 구조 변경
  apps/spectator/app/_components/Live/Live.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/EntryButton/EntryButton.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Form/Form.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Form/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Item/Item.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Item/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/List/List.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/List/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/MenuModal/MenuModal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Modal/Modal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Modal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/OnAir/Item.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/OnAir/OnAir.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/_components/Timeline/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/components/cheertalk/EntryButton/CheerTalkEntryButton.tsx
  apps/spectator/components/cheertalk/Modal/Banner/Banner.css.ts
  apps/spectator/components/cheertalk/Modal/Banner/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/CheerTalkItem.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkItem/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkList/CheerTalkLIst.css.ts
  apps/spectator/components/cheertalk/Modal/CheerTalkList/index.tsx
  apps/spectator/components/cheertalk/Modal/CheerTalkModal.tsx
  apps/spectator/components/cheertalk/Modal/Section/index.tsx
  apps/spectator/components/cheertalk/Modal/Timeline/index.tsx
  apps/spectator/hooks/useThrottle.ts
  apps/spectator/queries/useCheerTalkById.ts
  apps/spectator/types/game.ts
  apps/spectator/utils/time.ts
  packages/ui/src/modal/Close.tsx
  packages/ui/src/modal/Content.tsx
Labels: REFACTOR

#62 [REFACTOR] Header 컴포넌트 스타일 변경
  apps/spectator/components/Sidebar/Sidebar.css.ts
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/layout/Header.css.ts
  apps/spectator/components/layout/Header.tsx
  packages/ui/src/modal/Trigger.tsx
Labels: REFACTOR

#66 [REFACTOR] spectator 웹 접근성 개선
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/EntryButton.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/Form.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Item/Item.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Item/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/List/List.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/List/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/MenuModal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Modal/Modal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Modal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/Item.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/OnAir.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Team.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Replacement.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Score.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/components/Sidebar/Sidebar.css.ts
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/layout/Header.tsx
  apps/spectator/next.config.js
  apps/spectator/package.json
  apps/spectator/queries/useCheerVSById.ts
  packages/ui/src/modal/styles.css.ts
Labels: REFACTOR

#70 [BUILD] @mantine 추가
  apps/manager/.eslintrc.js
  apps/manager/app/layout.tsx
  apps/manager/app/page.css.ts
  apps/manager/app/page.tsx
  apps/manager/next.config.js
  apps/manager/package.json
  apps/manager/postcss.config.js
  apps/manager/styles/theme.ts
  pnpm-lock.yaml
Labels: BUILD

#73 [FEAT] manager login 기능 구현
  apps/manager/api/auth.ts
  apps/manager/app/layout.tsx
  apps/manager/app/login/page.css.ts
  apps/manager/app/login/page.tsx
  apps/manager/app/page.css.ts
  apps/manager/app/page.tsx
  apps/manager/hooks/mutations/useLoginMutation.ts
  apps/manager/package.json
  apps/manager/types/auth.ts
  pnpm-lock.yaml
Labels: FEAT

#75 [FEAT] manager 대회 관리 페이지 생성
  apps/manager/api/index.ts
  apps/manager/api/league.ts
  apps/manager/app/league/_components/LeagueCard/LeagueCard.css.ts
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/league/_components/LinkButton/index.tsx
  apps/manager/app/league/page.tsx
  apps/manager/app/page.css.ts
  apps/manager/components/AddButton/AddButton.css.ts
  apps/manager/components/AddButton/index.tsx
  apps/manager/components/Card/Card.css.ts
  apps/manager/components/Card/index.tsx
  apps/manager/hooks/queries/useLeagueQuery.ts
  apps/manager/next.config.js
  apps/manager/package.json
  apps/manager/queries/league/useLeagueList/Fetcher.tsx
  apps/manager/queries/league/useLeagueList/query.ts
  apps/manager/queries/league/useLeagueRegister/Fetcher.tsx
  apps/manager/queries/league/useLeagueRegister/query.ts
  apps/manager/types/league.ts
  apps/manager/utils/time.ts
  pnpm-lock.yaml
Labels: FEAT

#78 [BUILD] 관객 및 매니저 앱 프록시 연결
  apps/manager/_redirects
  apps/manager/api/index.ts
  apps/manager/next.config.js
  apps/manager/package.json
  apps/spectator/_redirects
  apps/spectator/api/game.ts
  apps/spectator/api/index.ts
  apps/spectator/next.config.js
  apps/spectator/package.json
Labels: BUILD

#82 [FEAT] 대회 생성 관련 기능 추가
  apps/manager/api/league.ts
  apps/manager/app/layout.tsx
  apps/manager/app/league/page.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/app/league/register/_components/LeagueTeam/index.tsx
  apps/manager/app/league/register/_components/LeagueTeamPlayers/index.tsx
  apps/manager/app/league/register/page.css.ts
  apps/manager/app/league/register/page.tsx
  apps/manager/app/league/register/resolvers.ts
  apps/manager/components/AddButton/AddButton.css.ts
  apps/manager/components/AddButton/index.tsx
  apps/manager/components/Card/Card.css.ts
  apps/manager/components/Card/index.tsx
  apps/manager/hooks/mutations/useCreateLeagueMutation.ts
  apps/manager/hooks/mutations/useCreateLeaguePlayersMutation.ts
  apps/manager/hooks/mutations/useCreateLeagueTeamMutation.ts
  apps/manager/package.json
  apps/manager/queries/league/usePostLeagueMutation/index.ts
  apps/manager/types/league.ts
  packages/ui/src/icon/icon.css.ts
  pnpm-lock.yaml
Labels: FEAT

#80 [BUILD] Netlify 프록시 환경 설정
  apps/manager/public/_redirects
  apps/spectator/next.config.js
  apps/spectator/public/_redirects
Labels: BUILD

#76 [REFACTOR]: 관객 메인페이지 경기목록
  apps/manager/components/AddButton/AddButton.css.ts
  apps/manager/components/Card/Card.css.ts
  apps/spectator/api/game.ts
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Card.tsx
  apps/spectator/app/_components/GameList/Error.tsx
  apps/spectator/app/_components/GameList/GameList.css.ts
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/_components/GameList/Metadata.tsx
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/EntryButton.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/List/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Modal/Modal.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Modal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/CheerVS.css.ts
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_hooks/useQueryValidator.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/page.css.ts
  apps/spectator/app/page.tsx
  apps/spectator/components/Sidebar/Sidebar.css.ts
  apps/spectator/components/league/SportsList/SportsList.css.ts
  apps/spectator/hooks/useIntersectionObserver.ts
  apps/spectator/hooks/useQueryParams.ts
  apps/spectator/queries/useGameList.ts
  apps/spectator/queries/useGameList/Fetcher.tsx
  apps/spectator/queries/useGameList/query.ts
  apps/spectator/types/game.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/whistling.svg
  packages/styles/src/globals.css.ts
  packages/styles/src/theme.css.ts
  packages/ui/src/icon/icon.css.ts
  packages/ui/src/modal/Close.tsx
  packages/ui/src/modal/index.tsx
  packages/ui/src/tooltip/styles.css.ts
Labels: FEAT, REFACTOR, STYLE

#91 [BUILD] 프록시 환경 제거
  apps/manager/api/index.ts
  apps/manager/next.config.js
  apps/manager/public/_redirects
  apps/spectator/api/index.ts
  apps/spectator/next.config.js
  apps/spectator/public/_redirects
Labels: BUILD

#84 [FEAT] manager 응원톡 관리 구현
  apps/manager/api/index.ts
  apps/manager/api/report.ts
  apps/manager/app/league/[leagueId]/_components/LeagueMenuCard.tsx
  apps/manager/app/league/[leagueId]/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/report/_components/CardList/CardList.css.ts
  apps/manager/app/report/_components/CardList/index.tsx
  apps/manager/app/report/_components/MenuModal/MenuModal.css.ts
  apps/manager/app/report/_components/MenuModal/index.tsx
  apps/manager/app/report/page.css.ts
  apps/manager/app/report/page.tsx
  apps/manager/components/Card/Card.css.ts
  apps/manager/constants/reportCaption.ts
  apps/manager/hooks/mutations/useBlockReportMutation.ts
  apps/manager/hooks/mutations/useRestoreReportMutation.ts
  apps/manager/hooks/queries/useReportsQuery.ts
  apps/manager/next.config.js
  apps/manager/package.json
  apps/manager/types/report.ts
  apps/spectator/api/index.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/hold.svg
  packages/icons/src/svg/restore.svg
  packages/icons/src/svg/unhold.svg
  pnpm-lock.yaml
Labels: FEAT

#93 [FEAT] 리그 정보 관리 페이지 생성
  apps/manager/api/league.ts
  apps/manager/app/league/[leagueId]/detail/_components/Forms.tsx
  apps/manager/app/league/[leagueId]/detail/page.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/constants/games.ts
  apps/manager/hooks/mutations/useUpdateLeagueMutation.ts
  apps/manager/hooks/queries/useLeagueDetailQuery.ts
  apps/manager/public/_redirects
  apps/manager/queries/league/usePutLeagueMutation/index.ts
  apps/manager/types/league.ts
Labels: FEAT

#95 [FEAT] 리그 팀 관리 페이지 생성
  apps/manager/api/index.ts
  apps/manager/api/team.ts
  apps/manager/app/ReactQueryProvider.tsx
  apps/manager/app/league/[leagueId]/_components/LeagueMenuCard.tsx
  apps/manager/app/league/[leagueId]/page.tsx
  apps/manager/app/league/[leagueId]/team/_components/ActionIcon/ActionIcon.css.ts
  apps/manager/app/league/[leagueId]/team/_components/ActionIcon/index.tsx
  apps/manager/app/league/[leagueId]/team/page.css.ts
  apps/manager/app/league/[leagueId]/team/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/components/Card/index.tsx
  apps/manager/hooks/queries/useLeagueTeamQuery.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/subtract.svg
Labels: FEAT

#98 [STYLE] 관객 응원톡 사용성 향상
  apps/spectator/app/game/[id]/_components/CheerTalk/CheerTalk.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/Form.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/List/List.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/List/index.tsx
Labels: REFACTOR, STYLE

#100 [FEAT] 매니저 메인 페이지 생성
  apps/manager/api/league.ts
  apps/manager/app/_components/PlayingCard/PlayingCard.css.ts
  apps/manager/app/_components/PlayingCard/index.tsx
  apps/manager/app/league/[leagueId]/loading.tsx
  apps/manager/app/league/[leagueId]/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/league/page.tsx
  apps/manager/app/loading.tsx
  apps/manager/app/page.css.ts
  apps/manager/app/page.tsx
  apps/manager/hooks/queries/useGamesQuery.ts
  apps/manager/hooks/queries/useLeagueDetailQuery.ts
  apps/manager/next.config.js
  apps/manager/types/league.ts
  apps/manager/utils/time.ts
Labels: FEAT

#101 [DOCS] update README.md
  README.md
Labels: DOCS

#99 [REFACTOR]: 메인화면 탭 개선
  apps/spectator/api/league.ts
  apps/spectator/app/ReactQueryProvider.tsx
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
  apps/spectator/app/_components/GameFilter/LeagueFilter.tsx
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
  apps/spectator/app/_components/GameFilter/RoundFilter.tsx
  apps/spectator/app/_components/GameFilter/SportFilter.tsx
  apps/spectator/app/_components/GameList/GameList.css.ts
  apps/spectator/app/_components/GameList/Skeleton.tsx
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/getQueryClient.ts
  apps/spectator/app/page.css.ts
  apps/spectator/app/page.tsx
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/league/SportsList/SportsList.css.ts
  apps/spectator/components/league/SportsList/index.tsx
  apps/spectator/constants/queryParams.ts
  apps/spectator/package.json
  apps/spectator/queries/useGameList.ts
  apps/spectator/queries/useLeague.ts
  apps/spectator/queries/useLeagueTeams.ts
  apps/spectator/queries/useSports.ts
  apps/spectator/queries/useSportsListByLeagueId/Fetcher.tsx
  apps/spectator/queries/useSportsListByLeagueId/query.ts
  apps/spectator/types/league.ts
  packages/icons/src/svg/whistling.svg
  packages/styles/src/globals.css.ts
  packages/ui/src/accordion/index.tsx
  packages/ui/src/image-uploader/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/modal/index.tsx
  packages/ui/src/skeleton/index.tsx
  packages/ui/src/skeleton/styles.css.ts
  packages/ui/src/tabs/index.tsx
  packages/ui/src/toast/index.tsx
  pnpm-lock.yaml
Labels: REFACTOR

#104 [FEAT] 유저 인증 정보에 따른 리다이렉션
  apps/manager/api/index.ts
  apps/manager/middleware.ts
Labels: FEAT

#108 [PERF] 게임 목록 쿼리 키 정렬
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
Labels: PERF

#109 [FEAT] 매니저 앱 대회 경기 관리 구현
  apps/manager/api/game.ts
  apps/manager/app/_components/PlayingCard/index.tsx
  apps/manager/app/layout.tsx
  apps/manager/app/league/[leagueId]/game/_components/GameCard.tsx
  apps/manager/app/league/[leagueId]/game/page.css.ts
  apps/manager/app/league/[leagueId]/game/page.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/GameInfoInput.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/TeamSelection.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/VideoInput.tsx
  apps/manager/app/league/[leagueId]/game/register/page.css.ts
  apps/manager/app/league/[leagueId]/game/register/page.tsx
  apps/manager/app/league/[leagueId]/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/page.tsx
  apps/manager/hooks/mutations/useCreateGameMutation.ts
  apps/manager/hooks/mutations/useDeleteGameMutation.ts
  apps/manager/hooks/queries/useGameQuery.ts
  apps/manager/hooks/queries/useGamesQuery.ts
  apps/manager/queries/league/useDeleteLeagueMutation/index.ts
  apps/manager/types/game.ts
Labels: FEAT

#112 [REFACTOR] 대회 팀 생성 API 수정
  apps/manager/api/league.ts
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/app/league/register/_components/LeagueTeam/index.tsx
  apps/manager/app/league/register/_components/LeagueTeamPlayers/index.tsx
  apps/manager/app/league/register/page.tsx
  apps/manager/hooks/mutations/useCreateLeagueTeamMutation.ts
  apps/manager/types/league.ts
Labels: REFACTOR

#114 [FEAT] 대회 팀 선수 생성 기능 구현
  apps/manager/api/league.ts
  apps/manager/app/league/register/_components/Confirm/index.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/app/league/register/_components/LeagueTeam/index.tsx
  apps/manager/app/league/register/_components/LeagueTeamPlayers/index.tsx
  apps/manager/app/league/register/page.tsx
Labels: FEAT

#115 [FEAT] 매니저 앱 대회 팀 관리 구현
  apps/manager/api/league.ts
  apps/manager/app/league/[leagueId]/loading.tsx
  apps/manager/app/league/[leagueId]/team/[teamId]/page.tsx
  apps/manager/app/league/[leagueId]/team/_components/TeamForm.tsx
  apps/manager/app/league/[leagueId]/team/page.tsx
  apps/manager/app/league/[leagueId]/team/register/page.tsx
  apps/manager/hooks/mutations/useUpdateLeagueTeamMutation.ts
  apps/manager/hooks/mutations/useUpdateLeagueTeamPlayersMutation.ts
  apps/manager/hooks/queries/useLeagueTeamDetailQuery.ts
  apps/manager/hooks/queries/useLeagueTeamPlayersQuery.ts
  apps/manager/types/league.ts
Labels: FEAT

#117 [STYLE] 관객 앱 레이아웃 스타일 변경
  apps/spectator/app/layout.tsx
  apps/spectator/components/layout/Header.css.ts
Labels: STYLE

#121 [FEAT] 타임라인 생성 기능 구현
  apps/manager/api/game.ts
  apps/manager/api/league.ts
  apps/manager/api/match.ts
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/_components/ReplacementRecord/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/_components/ScoreRecord/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[teamId]/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/List/Error.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/List/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/ReplacementItem/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/ScoreItem/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_utils/recordType.ts
  apps/manager/app/game/[leagueId]/[gameId]/timeline/page.tsx
  apps/manager/app/league/[leagueId]/game/_components/GameCard.tsx
  apps/manager/components/AsyncBoundary/index.tsx
  apps/manager/components/ErrorBoundary/index.tsx
  apps/manager/hooks/mutations/useCreateTimelineMutation.ts
  apps/manager/hooks/queries/useGameDetailQuery.ts
  apps/manager/hooks/queries/useGameLineupQuery.ts
  apps/manager/hooks/queries/useGameQuarterQuery.ts
  apps/manager/hooks/queries/useGameQuery.ts
  apps/manager/hooks/queries/useGameTeamsQuery.ts
  apps/manager/hooks/queries/useTimelineQuery.ts
  apps/manager/queries/match/useMatchInfoById/Fetcher.tsx
  apps/manager/queries/match/useMatchInfoById/query.ts
  apps/manager/queries/match/usePutMatchInfoMutation/index.ts
  apps/manager/queries/match/useSportsQuarterById/query.ts
  apps/manager/queries/team/usePostTeamMutation/index.ts
  apps/manager/styles/theme.ts
  apps/manager/types/game.ts
  apps/manager/types/league.ts
  apps/manager/types/match.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/clock.svg
Labels: FEAT

#124 [REFACTOR] 매니저 앱
  apps/manager/api/game.ts
  apps/manager/api/league.ts
  apps/manager/app/_components/PlayingCard/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/List/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/ReplacementItem/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/_components/ScoreItem/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/page.tsx
  apps/manager/app/game/[leagueId]/page.tsx
  apps/manager/app/league/[leagueId]/game/_components/GameCard.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/GameInfoInput.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/TeamSelection.tsx
  apps/manager/app/league/[leagueId]/team/_components/TeamForm.tsx
  apps/manager/app/league/[leagueId]/team/page.tsx
  apps/manager/app/league/[leagueId]/team/register/page.tsx
  apps/manager/app/league/_components/LeagueCard/index.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/app/league/register/_components/LeagueTeamPlayers/index.tsx
  apps/manager/app/league/register/page.tsx
  apps/manager/app/loading.tsx
  apps/manager/components/Layout/Layout.css.ts
  apps/manager/components/Layout/index.tsx
  apps/manager/hooks/mutations/useCreateLeagueTeamMutation.ts
  apps/manager/hooks/mutations/useCreateTimelineMutation.ts
  apps/manager/hooks/queries/useGameQuery.ts
  apps/manager/hooks/queries/useGamesQuery.ts
  apps/manager/hooks/queries/useTimelineQuery.ts
  apps/manager/next.config.js
  apps/manager/public/_redirects
  apps/manager/types/game.ts
  apps/manager/types/league.ts
Labels: REFACTOR

#127 [FEAT] 경기 기본 정보 기능 구현
  apps/manager/api/game.ts
  apps/manager/api/report.ts
  apps/manager/app/game/[leagueId]/[gameId]/_components/GameMenuCard.tsx
  apps/manager/app/game/[leagueId]/[gameId]/detail/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/page.tsx
  apps/manager/app/game/[leagueId]/page.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/GameInfoInput.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/TeamSelection.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/VideoInput.tsx
  apps/manager/app/league/[leagueId]/game/register/page.tsx
  apps/manager/app/league/[leagueId]/page.tsx
  apps/manager/app/report/_components/CardList/index.tsx
  apps/manager/constants/games.ts
  apps/manager/hooks/mutations/useBlockReportMutation.ts
  apps/manager/hooks/mutations/useCreateGameMutation.ts
  apps/manager/hooks/mutations/useRestoreReportMutation.ts
  apps/manager/hooks/mutations/useUpdateGameMutation.ts
  apps/manager/types/game.ts
Labels: FEAT

#128 [FEAT] 라인업 추가 기능 구현
  apps/manager/api/game.ts
  apps/manager/api/league.ts
  apps/manager/app/game/[leagueId]/[gameId]/_components/GameCard.tsx
  apps/manager/app/game/[leagueId]/[gameId]/lineup/[teamId]/_components/PlayerCard/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/lineup/[teamId]/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/lineup/page.tsx
  apps/manager/app/game/[leagueId]/[gameId]/page.tsx
  apps/manager/app/league/[leagueId]/game/_components/GameCard.tsx
  apps/manager/app/league/[leagueId]/game/register/_components/TeamSelection.tsx
  apps/manager/app/league/[leagueId]/game/register/page.tsx
  apps/manager/app/login/page.tsx
  apps/manager/components/Card/index.tsx
  apps/manager/hooks/mutations/useCreateGameMutation.ts
  apps/manager/hooks/mutations/useCreateLeaguePlayersMutation.ts
  apps/manager/hooks/mutations/useCreateLineupMutation.ts
  apps/manager/hooks/queries/useGameLineupQuery.ts
  apps/manager/hooks/queries/useGameQuery.ts
  apps/manager/hooks/queries/useLineupPlayerQuery.ts
  apps/manager/types/game.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/direction.svg
Labels: FEAT

#130 [FIX]: 사용하지 않는 query parameter 제거
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
Labels: FIX

#134 [REFACTOR] 라인업 컴포넌트 스타일 및 구조 개선
  apps/spectator/app/game/[id]/_components/Lineup/Captain.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Item.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/app/game/[id]/_components/Lineup/PlayerList.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Team.tsx
  apps/spectator/app/game/[id]/_components/Lineup/index.tsx
  apps/spectator/queries/useGameLineupById.ts
  apps/spectator/queries/useGameVideoById/Fetcher.tsx
  apps/spectator/queries/useGameVideoById/query.ts
Labels: REFACTOR

#136 [FEAT] 진행 전 라운드 비활성화
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
  apps/spectator/app/_components/GameFilter/RoundFilter.tsx
Labels: FEAT

#138 [REFACTOR] 사이드바 리그 범위 재설정
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/queries/useLeague.ts
  apps/spectator/queries/useLeagueArchives.ts
Labels: REFACTOR

#140 [FIX] 응원톡 상단 타임라인 수정
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/index.tsx
  apps/spectator/queries/useTimelineById.ts
Labels: FIX

#132 [FEAT] 대회 영상 컴포넌트 추가
  apps/spectator/app/game/[id]/_components/Highlight/Highlight.css.ts
  apps/spectator/app/game/[id]/_components/Highlight/index.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/queries/useVideoQuery.ts
Labels: FEAT

#144 [FEAT] 진행중 경기 카드에 라인업 이동 버튼 추가
  apps/manager/app/_components/PlayingCard/index.tsx
Labels: FEAT

#147 [FIX] 서버 시간 동기화 문제 해결
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/page.tsx
  apps/manager/app/league/[leagueId]/detail/_components/Forms.tsx
  apps/manager/app/league/[leagueId]/game/register/page.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/utils/time.ts
Labels: FIX

#149 [REFACTOR] 에러 및 예외 처리
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Fallback/Fallback.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Fallback/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/Highlight/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Highlight/Highlight.css.ts
  apps/spectator/app/game/[id]/_components/Lineup/Error.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/index.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/app/page.tsx
  apps/spectator/components/Loader/index.tsx
  apps/spectator/constants/divisionRank.ts
  apps/spectator/constants/gameStatus.ts
  apps/spectator/constants/queryParams.ts
  apps/spectator/constants/teams.ts
  apps/spectator/constants/videoSrc.ts
  apps/spectator/queries/useCheerTalkById.ts
  apps/spectator/queries/useGameLineupById.ts
  apps/spectator/queries/useGameList.ts
  apps/spectator/queries/useTimelineById.ts
  apps/spectator/queries/useVideoQuery.ts
  apps/spectator/services/errors.ts
Labels: REFACTOR

#151 [STYLE] 헤더 스타일 수정
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
  apps/spectator/components/Sidebar/index.tsx
Labels: STYLE

#153 [FIX] 잘못된 video id 수정
  apps/spectator/app/game/[id]/_components/Highlight/index.tsx
Labels: FIX

#156 [STYLE] 관객앱 경기상세/응원톡 UI 수정
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Timeline/index.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Replacement.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Score.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
Labels: STYLE

#155 [FIX] 대회 정보에 종목과 라운드가 보이지 않는 문제 해결
  apps/manager/app/game/[leagueId]/[gameId]/detail/page.tsx
  apps/manager/app/league/[leagueId]/detail/_components/Forms.tsx
  apps/manager/app/league/[leagueId]/detail/page.tsx
  apps/manager/app/league/register/_components/LeagueInfo/index.tsx
  apps/manager/types/league.ts
Labels: FIX

#158 [FEAT] 경기 쿼터를 드롭다운 메뉴로 변경
  apps/manager/app/game/[leagueId]/[gameId]/detail/page.tsx
  apps/manager/constants/games.ts
Labels: FEAT

#163 [FIX] 초기 라운드 쿼리 반영
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/page.tsx
Labels: FIX

#161 [FIX] 응원톡 관리 차단 API 수정
  apps/manager/api/report.ts
  apps/manager/app/report/_components/CardList/index.tsx
  apps/manager/hooks/mutations/useBlockReportMutation.ts
  apps/manager/hooks/mutations/useCreateReportBlockMutation.ts
  apps/manager/hooks/mutations/useCreateReportUnPendingMutation.ts
  apps/manager/hooks/mutations/useRestoreReportMutation.ts
  apps/manager/hooks/mutations/useUpdateCheerTalkUnblockMutation.ts
  apps/manager/hooks/queries/useReportsQuery.ts
Labels: FIX

#166 [FIX] Live 아이콘 표시 여부 수정
  apps/spectator/app/_components/Live/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/index.tsx
  apps/spectator/app/game/[id]/page.tsx
  apps/spectator/types/game.ts
Labels: FIX

#171 [FIX] timeline api trailing slash 추가
  apps/manager/api/game.ts
  apps/manager/public/_redirects
Labels: FIX

#173 [FIX] 유튜브 경기 영상 base url 수정
  apps/manager/app/game/[leagueId]/[gameId]/detail/page.tsx
Labels: FIX

#175 [FIX] 타임라인 날짜 선택 수정
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/page.tsx
Labels: FIX

#178 [CHORE] 유저 아이콘 제거
  apps/manager/components/Layout/Header/index.tsx
Labels: CHORE

#176 [FEAT] 대회 팀 관리에 삭제 기능 추가 및 로고 수정
  apps/manager/api/league.ts
  apps/manager/app/league/[leagueId]/team/[teamId]/page.tsx
  apps/manager/app/league/[leagueId]/team/_components/TeamForm.tsx
  apps/manager/app/league/[leagueId]/team/page.tsx
  apps/manager/app/league/[leagueId]/team/register/page.tsx
  apps/manager/app/league/register/_components/LeagueTeamPlayers/index.tsx
  apps/manager/app/league/register/page.tsx
  apps/manager/hooks/mutations/useCreateLeagueTeamMutation.ts
  apps/manager/hooks/mutations/useDeleteLeagueTeamMutation.ts
  apps/manager/hooks/mutations/useUpdateLeagueTeamPlayersMutation.ts
  apps/manager/hooks/queries/useLeagueTeamQuery.ts
  apps/manager/types/league.ts
Labels: FEAT

#180 [CHORE] 관리자 메인 페이지의 게임 버튼 제거
  apps/manager/app/page.tsx
Labels: CHORE

#182 [REFACTOR] 모든 선수 등록 및 제거 버튼 추가
  apps/manager/app/game/[leagueId]/[gameId]/lineup/[teamId]/page.tsx
Labels: REFACTOR

#184 [REFACTOR] 불필요한 스포츠 상수 제거
  apps/manager/constants/games.ts
Labels: REFACTOR

#187 [FIX] nullish round casting 에러 해결
  apps/spectator/app/_components/GameList/index.tsx
Labels: FIX

#192 [CHORE] 응원톡 제거 후 라인업 링크 추가
  apps/manager/app/league/[leagueId]/game/_components/GameCard.tsx
Labels: CHORE

#190 [FIX] 리그 별 라운드 정보 반영
  apps/spectator/api/league.ts
  apps/spectator/app/_components/GameFilter/RoundFilter.tsx
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/page.tsx
  apps/spectator/queries/useLeagueDetail.ts
  apps/spectator/types/league.ts
Labels: FIX

#165 [STYLE] 관객 앱 UI 개선
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/EntryButton.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Fallback/Fallback.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/Form.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Item/Item.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/OnAir.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/package.json
  pnpm-lock.yaml
Labels: STYLE

#193 [FIX] 대회 팀 선수 추가 오류 해결
  apps/manager/api/league.ts
  apps/manager/app/league/[leagueId]/team/[teamId]/page.tsx
  apps/manager/app/league/[leagueId]/team/_components/TeamForm.tsx
  apps/manager/hooks/mutations/useDeleteLeaguePlayerMutation.ts
  apps/manager/hooks/mutations/useUpdateLeaguePlayersMutation.ts
  apps/manager/hooks/queries/useLeagueTeamPlayersQuery.ts
Labels: FIX

#195 [FIX] 라운드 형변환 및 clickable 조건 수정
  apps/spectator/app/_components/GameFilter/RoundFilter.tsx
  apps/spectator/app/_components/GameList/index.tsx
  apps/spectator/app/page.tsx
Labels: FIX

#199 [FIX] 매니저 게임 기본 정보 저장 오류 해결
  apps/manager/app/game/[leagueId]/[gameId]/detail/page.tsx
Labels: FIX

#197 [FIX] 매니저 타임라인 IN-OUT 오류 수정
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/_components/ReplacementRecord/index.tsx
Labels: FIX

#201 [REFACTOR] 관객 가이드 텍스트 형식 변경
  apps/spectator/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/app/game/[id]/_components/Banner/Error.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/Error.tsx
  apps/spectator/app/game/[id]/_components/Highlight/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Highlight/Highlight.css.ts
  apps/spectator/app/game/[id]/_components/Lineup/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Lineup/Lineup.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/Fallback.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/game/[id]/_components/Timeline/index.tsx
  apps/spectator/queries/useGameLineupById.ts
  apps/spectator/queries/useVideoQuery.ts
Labels: REFACTOR

#204 [REFACTOR] 관객 어플리케이션 접근성 개선
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/EntryButton.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Item/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/OnAir.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/Timeline/Timeline.css.ts
  apps/spectator/app/layout.css.ts
  apps/spectator/app/layout.tsx
  apps/spectator/app/vercel.json
  packages/styles/src/responsive.css.ts
Labels: REFACTOR

#205 [STYLE] 대회 팀 필터 배경 그라데이션 적용
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
Labels: STYLE

#207 [FIX] middleware 정책 수정
  apps/manager/hooks/mutations/useLoginMutation.ts
  apps/manager/middleware.ts
Labels: FIX

#211 [STYLE] cheer talk form 스타일 수정
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/Form.css.ts
  apps/spectator/app/game/[id]/_components/CheerTalk/Form/index.tsx
Labels: STYLE

#213 [FIX] 팀 필터 캐럿 아이콘 영역 문제 해결
  apps/spectator/app/_components/GameFilter/GameFilter.css.ts
  apps/spectator/app/_components/GameFilter/LeagueTeamFilter.tsx
Labels: FIX

#214 [FIX] 라인업 수정 기능 개선
  apps/manager/api/game.ts
  apps/manager/app/game/[leagueId]/[gameId]/lineup/[teamId]/_components/PlayerCard/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/lineup/[teamId]/page.tsx
  apps/manager/hooks/mutations/useCreateLineupMutation.ts
  apps/manager/next.config.js
  apps/manager/types/game.ts
  apps/manager/types/league.ts
  apps/manager/types/utils.ts
Labels: FIX

#215 [FEAT] 타임라인 수정 페이지 구현
  apps/manager/api/game.ts
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/_components/ReplacementRecord/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/[recordType]/_components/ScoreRecord/index.tsx
  apps/manager/app/game/[leagueId]/[gameId]/timeline/update/[recordId]/page.tsx
  apps/manager/hooks/mutations/useDeleteTimelineRecordMutation.ts
  apps/manager/hooks/mutations/useUpdateTimelineRecordMutation.ts
  apps/manager/hooks/queries/useTimelineRecordQuery.ts
  apps/manager/types/game.ts
Labels: FEAT

#217 [FIX] 라인업 타입 수정
  apps/manager/types/game.ts
  apps/manager/types/league.ts
Labels: FIX

#219 [BUILD] amplitude 도입
  apps/spectator/app/GoogleAnalytics.tsx
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/app/providers.tsx
  apps/spectator/app/vercel.json
  apps/spectator/components/LeagueList/LeagueList.css.ts
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/Sidebar.css.ts
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/hooks/useTracker.ts
  apps/spectator/package.json
  packages/ui/src/modal/Trigger.tsx
  pnpm-lock.yaml
Labels: BUILD

#221 [FIX] amplitude 제거
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/layout.tsx
  apps/spectator/app/providers.tsx
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/hooks/useTracker.ts
  apps/spectator/utils/gtag.ts
Labels: FIX

#226 [FIX] 게임 시간 포맷팅 문제 해결
  apps/spectator/app/game/[id]/_components/Banner/index.tsx
Labels: FIX

#230 [FIX] amplitude context 생성
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/providers.tsx
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/TeamLogo/index.tsx
  apps/spectator/contexts/AmplitudeContext.tsx
  apps/spectator/hooks/useTracker.ts
  packages/ui/src/modal/index.tsx
Labels: FIX

#231 [CHORE] amplitude 옵션 재설정
  apps/spectator/contexts/AmplitudeContext.tsx
Labels: CHORE

#232 [FIX] 실 사용 후 문제점 개선
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/queries/useCheerTalkById.ts
  apps/spectator/queries/useGameById.ts
Labels: FIX

#234 [FIX] 유저 이벤트 분석 및 개선점 추가
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/OnAir/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/app/game/[id]/page.css.ts
  apps/spectator/app/providers.tsx
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/components/Sidebar/index.tsx
  apps/spectator/components/TeamLogo/index.tsx
  apps/spectator/contexts/AmplitudeContext.tsx
  apps/spectator/hooks/useTracker.ts
  apps/spectator/queries/useCheerTalkById.ts
  apps/spectator/queries/useGameById.ts
  packages/ui/src/modal/index.tsx
Labels: FIX

#239 [FIX] amplitude event name 재설정
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/components/LeagueList/index.tsx
Labels: REFACTOR

#242 [FIX] 응원톡 음수 버그 해결 및 amplitude event name 재설정
  apps/spectator/app/_components/GameList/Button.tsx
  apps/spectator/app/_components/GameList/Info.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/EntryButton/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/MenuModal/index.tsx
  apps/spectator/app/game/[id]/_components/CheerTalk/index.tsx
  apps/spectator/app/game/[id]/_components/CheerVS/TeamBox.tsx
  apps/spectator/components/LeagueList/index.tsx
  apps/spectator/queries/useCheerMutation.ts
Labels: FIX
