Repository hufscheer/web, pull requests merged in 2025-07, with the labels that each got.

#386 feat(spectator): 완료된 경기를 회색으로 표시되도록 변경
  apps/spectator/src/app/_components/GameList/Info.tsx
  apps/spectator/src/app/_components/GameList/styles.css.ts
  apps/spectator/src/app/game/[id]/_components/Banner/Banner.css.ts
  apps/spectator/src/app/game/[id]/_components/Banner/index.tsx
  package.json
  packages/ui/src/bottom-sheet/bottom-sheet.tsx
  pnpm-lock.yaml
Labels: build, package: ui, app: spectator

#396 feat(spectator): 게임 종료 시 응원 이벤트가 제한되도록 변경
  apps/spectator/src/app/game/[id]/_components/CheerTalk/Form/Form.css.ts
  apps/spectator/src/app/game/[id]/_components/CheerTalk/Form/index.tsx
  apps/spectator/src/app/game/[id]/_components/CheerTalk/List/index.tsx
Labels: app: spectator

#400 chore(deps): 패키지 의존성 업데이트
  apps/manager/package.json
  apps/spectator/package.json
  package.json
  packages/api/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  tooling/eslint-config/package.json
Labels: build, package: api, package: ui, app: spectator, app: manager
